src/main/resources/soap/schema/employee.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
           targetNamespace="http://parameta.com/employee"
           xmlns:tns="http://parameta.com/employee"
           elementFormDefault="qualified">

    <!-- Petición para crear un empleado -->
    <xs:element name="CreateEmployeeRequest">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="nombres" type="xs:string"/>
                <xs:element name="apellidos" type="xs:string"/>
                <xs:element name="tipoDocumento" type="xs:string"/>
                <xs:element name="numeroDocumento" type="xs:string"/>
                <xs:element name="fechaNacimiento" type="xs:string"/>  <!-- yyyy-MM-dd -->
                <xs:element name="fechaVinculacion" type="xs:string"/> <!-- yyyy-MM-dd -->
                <xs:element name="cargo" type="xs:string"/>
                <xs:element name="salario" type="xs:double"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <!-- Respuesta al crear un empleado -->
    <xs:element name="CreateEmployeeResponse">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="id" type="xs:long"/>
                <xs:element name="status" type="xs:string"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

</xs:schema>
